body {
    background-color: #7FA9D7;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.inicio{
    display: flex;
    height: 100vh;
}
.foto{
    flex:1;
    background-color: #0A3172;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto img{
    width: 300px;
    height: auto;
    border-radius: 8px;
}
.infos{
    flex: 2;
    padding: 60px;
    flex-direction: column;
    justify-content: center;
}
.infos h1{
    font=-sinze: 48px;
    margin: 0;
}
.infos h2{
    font-size: 24px;
    margin-top: 10px;
    color: #04122b;
}